use flake

watch_file nix/dev/shell.sh
watch_file fragments/storage-link.sh
watch_file fragments/storage-mount-target.sh
watch_file fragments/storage-nvme-mount.sh
watch_file fragments/storage-sata-mount.sh
watch_file fragments/bash-profile.sh
watch_file fragments/seed-home.sh
watch_file lefthook.yml
watch_file .yamllint.yml
watch_file config/user/fstype
